<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>burgers</title>
		    <style type="text/css">
		    h1 {color: blue;
				text-align: center;
		    }

			h2 {color: blue;}
		    button {background-color: #008CBA;} 
		    .submitButton{
		    	background-color: #e7e7e7; color: black;
		    }

    </style>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
